/************* COLORS *************
#070000 - Diesel (Black)
#01012B - Black Rock (Blue)
#005678 - Orient (Light Blue)
#05D9E8 - Bright Turquoise
#D1F7FF - Onahau (Clear Sky Blue)
#FFFFFF - White
#A6033F - Shiraz (Pink/Red)
#FF1493 - Deep Pink (Fluorescent)
#8B58BC - Fuchsia Blue (Light Purple)
************************************/

/********* Global Attributes ********/
a.button1 {
    display: flex;
    justify-items: center;
    padding: 0.2em 0.4em;
    margin: 0 0.2em 0.2em 0;
    border: 0.15em solid #05D9E8;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #05D9E8;
    text-align: center;
    transition: ease-in 0.2s;
    background-color: #070000;
    width: fit-content;
    box-shadow: 2px 4px 8px 0px #0B325E, 2px 2px 8px 2px rgba(238, 238, 238, 0.288)
}
a.button1:hover {
    background-color: #05D9E8;
    color: #070000;
    transition: ease-in 0.3s;
    font-weight: 900;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #070000;
}
::-webkit-scrollbar-thumb {
    background: #537895;
}
::-webkit-scrollbar-thumb:hover {
    background: #05D9E8;
}
.header_icons {
    height: 40px;
    width: 40px;
    margin-top: 10px;
}
.icon {
    padding-top: 20px;
    padding-right: 10px;
}

/***********************************/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 0;
    overflow-x: hidden;
    max-width: 100%;
    background-color: #070000;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    display: flex;
}
h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    display: flex;
}
h3 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    display: flex;
}
h4 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
}
.white {
    color: #FFFFFF;
}
p {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.dots {
    height: 40px;
    width: 60px;
}
h2.white {
    text-shadow: 0 0 10px #FFFFFF;
}
/***************************
******** INDEX PAGE ********
****************************/

/********* Header *********/
.header-container {
    background-color: #070000;
}
.header-logo img {
    height: auto;
    max-width: 200px;
    padding: 10px 20px 0 0;
}
.header-logo {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 5px;
}
.menu ul li {
    text-decoration: none;
    padding: 2px 0 2px 0;
}
.menu a {
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #FFFFFF;
}
.current a {
    color: #A6033F;
}
.menu a:hover {
    color: #A6033F;
}
.menu ul {

    list-style-type: none;
}
nav {
    display: none;
}
#hamburger-menu {
    display: none;
}
#hamburger-menu:checked ~ nav {
    display: block;
}
.fa-bars {
    color: #FFFFFF;
}
.fas {
    font-size: 24px;
}
.dropdown {
    display: flex;
    justify-content: center;
}
.hamburger {
    display: block;
    position: absolute;
    top: 25px;
    right: 13px;
    height: 27px;
    width: 27px;
    cursor: pointer;
    transition: all 1s cubic-bezier(.19, 1, .22, 1);
}
.menu ul {
    padding-inline-start: 0;
}

/********* Footer *********/

.col {
    display: flex;
    flex-direction: column;
}
.footer_content {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
}
.socmedimg {
    height: 40px;
    width: 40px;
    padding: 5px 5px;
}
.footer_list {
    margin: 0 auto;
    padding-inline-start: 0;
}
.socialmedia {
    flex-direction: row;
}
.newsletter {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.newsletter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 20px 5px 20px;
}
.newsletter-container h3 {
    font-weight: 400;
    font-size: 16px;
}
#subscriptionForm {
    margin: 0 auto;
}
#emailAddress {
    width: 300px;
    height: auto;
    background-color: #070000;
    color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #05D9E8;
    padding-left: 4px;
    margin-bottom: 10px;
}
#subscribedMessage {
    color: #FFFFFF;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 4px;
    text-align: center;
    background-color: #05D9E8;
    padding: 2px 0 2px 0;
    color: #070000;
    margin-bottom: 20px;
}
.button1_sub {
    padding: 0.2em 0.4em;
    margin: 0 0.2em 0.2em 0;
    border: 0.15em solid #05D9E8;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #05D9E8;
    text-align: center;
    transition: ease-in 0.2s;
    background-color: #070000;
    width: 300px;
    cursor: pointer;
    box-shadow: 2px 4px 8px 0px #0B325E, 2px 2px 8px 2px rgba(238, 238, 238, 0.288);
}
input#emailAddress {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}
#emailAddress::placeholder {
    color: rgb(167, 167, 167);
}
.button1_sub:hover {
    background-color: #05D9E8;
    color: #070000;
    transition: ease-in 0.3s;
    font-weight: 900;
    cursor: pointer;
}
hr.pex {
    border-top: 1px #FFFFFF;
}
.bottom {
    color: #FFFFFF;
}
.bottom_p {
    display: flex;
    justify-content: center;
}
.footer_list li {
    list-style-type: none;
    padding: 5px 0 5px 0;
}
.footer_list li a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.footer_list li a:hover {
    color: #05D9E8;
    transition: 0.3s ease-in;
}
.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer_content2 {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
}
#footer {
    background-color: #070000;
}
/********* Banner *********/

.index-banner {
    background: url('../images/background4.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.banner-txt {
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;
    margin: 0 auto;
    
}
.bannerh1 {
    background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
    padding: 10px 2px 10px 2px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin: 0;
    font-size: 24px;
    text-shadow: 4px 3px 0px #070000;

}
hr.over_under {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(143, 73, 209, 0.979), rgba(0, 162, 255, 0.75), rgba(196, 92, 170, 0.979));
    padding: 0;
    margin: 0;
}
.bannertop, .bannerbtm, .images-banner-txt {
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-size: 24px; 
    padding: 10px 20px 10px 20px;
    margin-bottom: 0;
    color: #01012B;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #D1F7FF 0px 0px 20px, #D1F7FF 0px 0px 30px, #D1F7FF 0px 0px 40px, #D1F7FF 0px 0px 50px, #D1F7FF 0px 0px 75px, 1px 1px 1px rgba(206,89,55,0);
}
.bannerbtm {
    margin-top: 2px;
}
.bannerbtn {
    display: flex;
    justify-content: center;
    margin: 1.5em 1em;
}
#masterheader {
    margin-bottom: 20px;
}
.bannerbtn {
    margin-bottom: 50px;
}
/****** Main background ******/
.main-background {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    z-index: 1;
}
.main-background-filter {
    background: rgba(31, 31, 31, 0.178);
    z-index: 2;
}
.index-banner .bannerbtn {
    margin-bottom: 50px;
}
/********* Launch *********/
.background-container {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    background-color: #070000;
    border-radius: 10px;
    margin: 0 auto;
    width: 95%;
    box-shadow: 11px 14px 23px 0px rgba(199,199,199,0.75);
    -webkit-box-shadow: 11px 14px 23px 0px rgba(199,199,199,0.75);
    -moz-box-shadow: 11px 14px 23px 0px rgba(199,199,199,0.75);
}
#launch {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#launch .background-container {
    margin-top: 50px;
}
#launch tr {
    font-weight: bold;
}
.centered {
    display: flex;
    justify-content: center;
}
.centered h1 {
    font-size: 24px;
    color: #FFFFFF;
}
#countdown {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
#countdown td {
    font-size: 0.8em;
}
.margin_bottom {
    margin-bottom: 25px;
}
.margin_top {
    margin-top: 25px;
}
#countdown {
    text-align: center;
}
#countdown table {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
    table-layout: fixed;
}

#countdown th {
    font-size: 1.5em;
}
#sct_launch.sct_top .background-container {
    margin-top: 50px;
}
#sct_launch.sct_btm .background-container {
    margin-bottom: 50px;
}
/********* Timeline *********/
.timeline-container {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    background-color: #070000;
    border-radius: 5px;
    margin: 1em 0;
    width: 100%;
}
.timeline-container h1 {
    color: #FFFFFF;
    font-size: 20px;
}
p.timeline-container {
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Open-Sans', sans-serif;
    padding: 0 10px 5px 10px;
}

#timeline p.centered.white, #live p.centered.white, #quiz p.centered.white, #resources p.centered.white, #bdimage p.centered.white {
    padding: 0 10px 0 10px;
    max-width: 80%;
    margin: 0 auto;
}
.b2top a {
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #05D9E8;
    padding: 5px 10px;
    width: 100%;
}
.b2top a:hover {
    background-color: #05D9E8;
    color: #070000;
}
.b2top {
    border: 2px solid #05D9E8;
    border-radius: 5px;
}
/********* Live/Quiz *********/
.live_quiz_wrap #live {
    display: flex;
    flex-direction: column;
}
/********* Resources *********/
.card-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.card_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card1 {
    background-image: url('../images/hubbleimg1.png');
    background-size: cover;
    border-radius: 15px;
    border: 2px solid #8B58BC;
    width: 260px;
    height: fit-content;
    z-index: 1;
    margin-bottom: 25px;
}
.card2 {
    background-image: url('../images/hubbleimg4.jpg');
    background-size: cover;
    border-radius: 15px;
    border: 2px solid #8B58BC;
    width: 260px;
    height: fit-content;
    z-index: 1;
    margin-bottom: 25px;
}
.card3 {
    background-image: url('../images/hubbleimg3.jpg');
    background-size: cover;
    border-radius: 15px;
    border: 2px solid #8B58BC;
    width: 260px;
    height: fit-content;
    z-index: 1;
    margin-bottom: 50px;
}
.card1 h3, .card2 h3, .card3 h3 {
    text-shadow: 0 0 5px #D1F7FF;
}
.card1 p, .card2 p, .card3 p {
    text-shadow: 2px 2px 0 #070000, 2px -2px 0 #070000, -2px 2px 0 #070000, -2px -2px 0 #070000, 2px 0px 0 #070000, 0px 2px 0 #070000, -2px 0px 0 #070000, 0px -2px 0 #070000;
}
.card-content {
    color: #FFFFFF;
    background-color: rgba(86, 22, 145, 0.712);
    z-index: 2;
    align-content: flex-end;
    margin-top: 90%;
    padding-bottom: 50px;
    border-radius: 15px;
    height: 120px;
}

.card-content h3 {
    padding-top: 15px;
}
.card-content p {
    padding: 0 20px 20px 20px;
}
.card-content a {
    text-decoration: none;
    color: #FFFFFF;
    height: inherit;
}
.card-content:hover {
    background-color: rgba(0, 89, 92, 0.712);
}
#resources {
    padding-bottom: 50px;
}
#contact_form, #launch, #timeline, #live, #quiz, #resources, #vid-gallery {
    padding-top: 50px;
    padding-bottom: 50px;
}
.dots {
    margin-bottom: 15px;
}
.bottom_p p {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;

}
/***************************
******** IMAGE PAGE ********
****************************/

/******** Banner ***********/
.images-banner {
    background: url('../images/asteroid_explosion.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.banner2h1 {
    background-color: rgba(77, 5, 232, 0.55);
    text-align: center;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin: 0;
}
#bdimage {
    padding-top: 25px;
    padding-bottom: 25px;
}
#img-gallery {
    padding-bottom: 25px;
}
.banner2h2 {
    background-color: rgba(77, 5, 232, 0.85);
    text-align: center;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin: 0;
}
/******** Images - Gallery *******/


input[type=checkbox] {
    display: none;
}
.lbl-toggle {
    display: block;
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    color: #05D9E8;
    background-color: #070000;
    border: 2px solid #05D9E8;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 25px;
}
.lbl-toggle:hover {
    color: #070000;
    background-color: #05D9E8;
    transition: 0.3s ease-in;
}
.collapsible-content .content-inner {
    background: #070000;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
    margin-bottom: 25px;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 600vh;
}
.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}
.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
}
.gallery-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.gallery-column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
    border: 1px solid #8B58BC;
}
.gallery-collapsible {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
#bdimage .background-container.top {
    margin-top: 50px;
}
#img-gallery .background-container.bottom {
    margin-bottom: 50px;
}
@media screen and (max-width: 800px) {
    .gallery-column {
      flex: 50%;
      max-width: 50%;
    }
  }

@media screen and (max-width: 600px) {
    .gallery-column {
      flex: 100%;
      max-width: 100%;
    }
  }
/***************************
******* VIDEOS PAGE ********
****************************/

/**** Videos - Banner ****/
.videos-banner {
    background: url(../images/background8.gif);
    background-size: cover;
    background-position: center;
    height: auto;
}
.vid-gallery {
    display: flex;
    flex-direction: column;
}
.vid-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    margin-top: 25px;
}
.vid-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #537895;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 8px;
}

.vid-content-top h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.vid-content-top h3 {
    margin: 10px 5px;
    max-width: fit-content;
}
.vid-content-top p {
    padding: 2px 5px 5px 2px;
    margin-bottom: 4px;
}
.yt-link-button {
    display: flex;
    justify-content: center;
    margin: 10px 0 25px 0;
}
.vid-content-top {
    padding-left: 5px;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
iframe.yt-embed {
    width: 280px;
    height: 235px;
}
.background-container2 {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    background-color: #070000;
    border-radius: 10px;
    margin: 0 auto;
    width: 99%;
}
#vid-gallery .background-container {
    max-width: 1337px;
    margin-top: 50px;
    margin-bottom: 50px;
}
@media screen and (min-width: 600px) {
    iframe.yt-embed {
        width: 400px;
        height: 345px;
    }
  }

/***************************
******** LAUNCH PAGE *******
****************************/
.launch-banner {
    background-image: url('../images/background6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
}
.launch-banner-container {
    height: 350px;
    margin: 0 auto;
}
#sct_launch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
h4.launch-header-small {
    color: #FFFFFF;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 700;
    text-shadow: 1px 1px 0 #01012B, 1px -1px 0 #01012B, -1px 1px 0 #01012B, -1px -1px 0 #01012B, 1px 0px 0 #01012B, 0px 1px 0 #01012B, -1px 0px 0 #01012B, 0px -1px 0 #01012B;
}
h3.launch-header-large {
    color: #FFFFFF;
    padding-left: 10px;
    margin-bottom: 5px;
}
p.launch-details {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2px;
}
hr.hr-launch {
    padding-left: 15px;
    height: 10px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 140, 255, 0.664);
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}
.next-launch, .upcoming-launches, .completed-launches {
    background: radial-gradient(circle, rgba(11,29,61,1) 0%, rgba(27,27,27,1) 100%);
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px 10px;
}
.upcoming-launches, .completed-launches {
    max-height: 75vh;
    overflow-y: scroll;
}
.upcoming-container, .completed-container {
    position: relative;
    margin-bottom: 20px;
}
.ul_toggle {
    display: none;
}
.ul_toggle:checked + .dropdown-btn + .upcoming-data {
    max-height: 100%;
}
.dropdown-btn {
    display: block;
}
h3.dropdown-btn.centered {
    background-color: #070000;
    border: 2px solid #05D9E8;
    border-radius: 10px;
    padding: 5px 5px;
    color: #05D9E8;
}
h3.dropdown-btn.centered:hover {
    background-color: #05D9E8;
    color: #070000;
    transition: ease-in 0.3s;
    cursor: pointer;
}
.toggle:checked + .dropdown-btn + .dropdown-content {
    max-height: 600vh;
}
.dropdown-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
    margin-bottom: 10px;
}
#sct_launch .background-container {
    max-width: 600px;
}
#sct_launch .background-container.bottom {
    margin-bottom: 50px;
}
#sct_launch .background-container.top {
    margin-top: 50px;
}
/***************************
******* CONTACT PAGE *******
****************************/
#contact-banner {
    background: url('../images/black-and-gray-digital-device-193003.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: auto;
}

.error {
    display: none;
    color: #A6033F;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background: url('../icons/error.svg');
    background-position: bottom 50% right 0.5rem;
    background-repeat: no-repeat; 
    background-size: 0.75rem;
}
.success {
    display: none;
    color: #39ff14;
    background: url('../icons/success.svg');
    background-position: bottom 50% right 0.5rem; 
    background-repeat: no-repeat; 
    background-size: 0.75rem;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
#submitMessage {
    display: none;
}
.button1 {
    padding: 0.2em 0.4em;
    margin: 0 0.2em 0.2em 0;
    border: 0.15em solid #05D9E8;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #05D9E8;
    text-align: center;
    transition: ease-in 0.2s;
    background-color: #070000;
    width: fit-content;
    cursor: pointer;
}
.button1:hover {
    background-color: #05D9E8;
    color: #070000;
    transition: ease-in 0.3s;
    font-weight: 900;
    cursor: pointer;
}
#contactForm {
    margin: 0 auto;
}
#name, #lastName, #email {
    width: 280px;
    height: auto;
    background-color: #070000;
    color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #05D9E8;
}
.small_mg_btm {
    margin-bottom: 4px;
}
h4.white.small_mg_btm {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.footer_content h3, .footer_content2 h3 {
    font-size: 20px;
    font-weight: 900;
    text-shadow: 0 0 5px #D1F7FF;
}
#message {
    width: 280px;
    height: 175px;
    background-color: #070000;
    color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #05D9E8;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.button1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
input {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
#contactForm h3 {
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
}
#name::placeholder, #lastName::placeholder, #email::placeholder, #message::placeholder {
    color: #FFFFFF;
    padding-left: 2px;
}
#submitMessage {
    color: #FFFFFF;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 4px;
    text-align: center;
    background-color: #05D9E8;
    padding: 2px 0 2px 0;
    color: #070000;
    margin-bottom: 20px;
}
#contact_form .button1 {
    margin-bottom: 50px;
}
/***************************
******* MEDIA CODING *******
****************************/

/*****************  BANNERS ******************/
@media screen and (min-width: 530px) {
    .launch-banner, .launch-banner-container {
        height: 450px;
    }
}
@media screen and (min-width: 715px) {
    .launch-banner, .launch-banner-container {
            height: 600px;
    }
}
@media screen and (min-width: 950px) {
    .launch-banner, .launch-banner-container {
            height: 700px;
    }
}
@media screen and (min-width: 1050px) {
    .launch-banner, .launch-banner-container {
            max-height: 700px;
            background-position: bottom;
    }
}
@media screen and (min-width: 800px) {
    .banner-txt {
        height: 450px;
    }
}
@media screen and (min-width: 1200px) {
    .banner-txt {
        height: 550px;
    }
}

@media screen and (min-width: 320px) {
    .gallery-collapsible {
        padding: 0 50px;
    }
    .content-inner .gallery-row {
        padding: 0;
    }
}

@media screen and (min-width: 450px) {
    .background-container {
        border-right: 2px solid #05D9E8;
        border-bottom: 2px solid #05D9E8;
    }
}

@media screen and (min-width: 550px) {
    #countdown td {
        font-size: 1em;
    }
    #countdown table {
        max-width: 460px;
    }
    #name, #lastName, #email, #message {
        width: 350px;
    }
}
@media screen and (min-width: 600px) {
    a.button1 {
        font-size: 1.2em;
        padding: 0.2em 0.8em;
    }
    .header-logo img {
        max-width: 250px;
    }
    nav.menu ul li {
        display: inline-block;
        padding: 0 1em 1em 1em;
    }
    .header-logo {
        padding-top: 12px;
        padding-left: 1em;
    }
    .hamburger {
        top: 40px;
        right: 20px;
    }
    .fas {
        font-size: 30px;
    }
    #resources .background-container {
        margin-bottom: 2em;
    }
    h1.bannerh1 {
        font-size: 30px;
    }
    h2.white {
        font-size: 1.75em;
    }
    .dots {
        height: 50px;
        width: 70px;
    }
    #timeline p.centered.white, #live p.centered.white, #quiz p.centered.white, #resources p.centered.white, #bdimage p.centered.white {
        font-weight: 400;
        font-size: 1.2em;
    }
    .bannertop, .bannerbtm {
        font-size: 30px;
    }
    .menu ul {
        margin-bottom: 0;
        align-content: center;
    }
    .launch-banner .bannertop {
        margin-top: 100px;
    }
    .footer_content h3, .footer_content2 h3 {
        font-size: 24px;
    }
    .footer_content li a {
        font-size: 20px;
    }
    h4.white.small_mg_btm.centered {
        font-size: 18px;
        margin-bottom: 10px;
    }
    h4.launch-header-small {
        font-size: 20px;  
    }
    #countdown tr {
        font-size: 1.5em;
    }
    .header_icons {
        height: 60px;
        width: 60px;
    }

}
@media screen and (min-width: 800px) {
    #launch .background-container, #timeline .background-container, #live .background-container, #quiz .background-container, #resources .background-container {
        max-width: 900px;
    }
    #countdown tr {
        font-size: 1.5em;
    }
    a.button1 {
        font-size: 1.2em;
        padding: 0.2em 1em;
    }

    .bannertop, .bannerbtm {
        font-size: 36px;
    }
    #contact_form .background-container {
        max-width: 800px;
    }
    #bdimage p.centered.white {
        font-size: 1.4em;
        margin-bottom: 20px;
    }
    #bdimage .button1.centered {
        margin-bottom: 25px;
    }
    .lbl-toggle {
        font-size: 20px;
    }
    .gallery-collapsible {
        padding: 0 50px;
    }
    .content-inner .gallery-row {
        padding: 0;
    }
    #name, #lastName, #email, #message {
        width: 450px;
    }
    #message {
        height: 250px;
    }
    #contactForm .button1 {
        font-size: 20px;
    }
}

@media screen and (min-width: 900px) {
    #live .background-container, #quiz .background-container {
        max-width: 450px;
    }
    .live_quiz_wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
@media screen and (min-width: 1000px) {
    .card_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 25px;
        padding-right: 25px;
    }
    .card1, .card2, .card3 {
        margin-bottom: 50px;
    }
    .button1.centered {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
@media screen and (min-width: 1050px) {
    .footer_wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .newsletter_socmed_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer_content {
        justify-content: flex-start;
        flex: 1;
    }
    .footer_content2 {
        justify-content: flex-start;
        flex: 1;
    }
    .socmedimg {
        padding: 10px 10px;
        height: 50px;
        width: 50px;
    }
}
@media screen and (min-width: 1400px) {
    #sct_launch .background-container {
        max-width: 450px;
    }
    .launches_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    #sct_launch .background-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #bdimage .background-container, #img-gallery .background-container {
        max-width: 1225px;
    }
    .header-logo img {
        max-width: 350px;
    }
    .fas {
        font-size: 40px;
    }
    .hamburger {
        top: 44px;
        right: 50px;
    }
    .menu a {
        font-size: 1.65em;
    }
    .yt-link-button {
        margin: 50px 0 50px 0;
    }
    a.button1 {
        font-size: 1.5em;
        padding: 0.2em 0.8em;
    }
    .socmedimg {
        width: 60px;
        height: 60px;
    }
    .footer_content h3, .footer_content2 h3 {
        font-size: 30px;
    }
    .footer_content li a {
        font-size: 24px;
    }
    .footer_content h4.white.small_mg_btm.centered {
        font-size: 20px;
    }
    #emailAddress {
        width: 350px;
        margin-top: 15px;
    }
    .button1_sub {
        width: 350px;
        font-size: 20px;
    }
    .footer_content, .footer_content2 {
        margin-top: 25px;
        margin-bottom: 50px;
    }
    input#emailAddress {
        font-size: 20px;
    }
    p.centered.white {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1600px) {
    #sct_launch .background-container {
        max-width: 500px;
    }
}