/************* COLORS *************
#070000 - Diesel (Black)
#01012B - Black Rock (Blue)
#005678 - Orient (Light Blue)
#05D9E8 - Bright Turquoise
#D1F7FF - Onahau (Clear Sky Blue)
#FFFFFF - White
#A6033F - Shiraz (Pink/Red)
#FF1493 - Deep Pink (Fluorescent)
#8B58BC - Fuchsia Blue (Light Purple)
************************************/

/********* Global - Buttons ********/
a.button1 {
    display: flex;
    justify-items: center;
    padding: 0.2em 0.4em;
    margin: 0 0.2em 0.2em 0;
    border: 0.15em solid #05D9E8;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #05D9E8;
    text-align: center;
    transition: ease-in 0.2s;
    background-color: #070000;
    width: fit-content;
}
a.button1:hover {
    background-color: #05D9E8;
    color: #070000;
    transition: ease-in 0.3s;
    font-weight: 900;
}
/***********************************/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 0;
    overflow-x: hidden;
    max-width: 100%;
    background-color: #070000;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    display: flex;
}
h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    display: flex;
}
.white {
    color: #FFFFFF;
}
p {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.dots {
    height: 40px;
    width: 60px;
}
/***************************
******** INDEX PAGE ********
****************************/

/********* Header *********/
.header-container {
    background-color: #070000;
}
.header-logo img {
    height: auto;
    max-width: 200px;
    padding: 10px 20px 0 0;
}
.header-logo {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 5px;
}
.menu ul li {
    text-decoration: none;
    padding: 2px 0 2px 0;
}
.menu a {
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #FFFFFF;
}
.current a {
    color: #A6033F;
}
.menu a:hover {
    color: #A6033F;
}
.menu ul {

    list-style-type: none;
}
nav {
    display: none;
}
#hamburger-menu {
    display: none;
}
#hamburger-menu:checked ~ nav {
    display: block;
}
.fa-bars {
    color: #FFFFFF;
}
.fas {
    font-size: 24px;
}
.dropdown {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}
.hamburger {
    display: block;
    position: absolute;
    top: 25px;
    right: 13px;
    height: 27px;
    width: 27px;
    cursor: pointer;
    transition: all 1s cubic-bezier(.19, 1, .22, 1);
}

/********* Footer *********/
.col {
    display: flex;
    flex-direction: column;
}
.footer_content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 25px;
    justify-content: center;
}
.socmedimg {
    height: 40px;
    width: 40px;
    padding: 5px 5px;
}
.footer_list {
    margin: 0 auto;
    padding-inline-start: 0;
}
.socialmedia {
    flex-direction: row;
}
.newsletter {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.newsletter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 20px 5px 20px;
}
.newsletter-container h3 {
    font-weight: 400;
    font-size: 16px;
}
input[type=text], input[type=submit], input[type=email] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #05D9E8;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #070000;
    color: #FFFFFF;
}
input[type=submit] {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #05D9E8;
}
input[type=submit]:hover {
    background-color: #05D9E8;
    color: #070000;
    transition: 0.3s ease-in;
    cursor: pointer;
}
hr.pex {
    border-top: 1px #FFFFFF;
}
.bottom {
    color: #FFFFFF;
}
.bottom_p {
    display: flex;
    justify-content: center;
}
.footer_list li {
    list-style-type: none;
    padding: 5px 0 5px 0;
}
.footer_list li a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.footer_list li a:hover {
    color: #05D9E8;
    transition: 0.3s ease-in;
}
.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer_content2 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}
h3.centered.white {
    margin-top: 0;
}
/********* Banner *********/

.index-banner {
    background: url('../images/background4.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.banner-txt {
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 400px;
    
}
.bannerh1 {
    background-color: rgba(108, 24, 119, 0.33);
    text-align: center;
    padding: 10px 2px 10px 2px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin: 0;
    font-size: 24px;
}
.bannerh2 {
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(15, 15, 15, 0.63);
    display: flex;
    justify-content: center;  
    font-size: 20px; 
    margin: 0;
    padding: 5px 0 5px 0; 
}
.bannerbtn {
    display: flex;
    justify-content: center;
    margin: 1.5em 1em;
}
/****** Main background ******/
.main-background {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    z-index: 1;
}
/********* Launch *********/
.background-container {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    background-color: #070000;
    border-radius: 5px;
    margin: 1em 0;
    width: 100%;
}
#launch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}
.centered {
    display: flex;
    justify-content: center;
}
.centered h1 {
    font-size: 24px;
    color: #FFFFFF;
}
#countdown {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.margin_bottom {
    margin-bottom: 25px;
}
.margin_top {
    margin-top: 25px;
}
#countdown {
    text-align: center;
}
#countdown table {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
    table-layout: fixed;
}

#countdown th {
    font-size: 1.5em;
}
/********* Timeline *********/
.timeline-container {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    background-color: #070000;
    border-radius: 5px;
    margin: 1em 0;
    width: 100%;
}
.timeline-container h1 {
    color: #FFFFFF;
    font-size: 20px;
}
.timeline-container p {
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Open-Sans', sans-serif;
    padding: 0 10px 5px 10px;
}
#timeline {
    display: flex;
    justify-content: center;
}
#timeline p, #live p, #quiz p, #resources p, #bdimage p {
    padding: 0 15px 5px 15px;
}
.b2top a {
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #05D9E8;
    padding: 5px 10px;
    width: 100%;
}
.b2top a:hover {
    background-color: #05D9E8;
    color: #070000;
}
.b2top {
    border: 2px solid #05D9E8;
    border-radius: 5px;
    margin-top: 25px;
}
/********* Live/Quiz *********/

/********* Resources *********/
.card-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.card1 {
    background-image: url('../images/hubbleimg1.png');
    background-size: cover;
    border-radius: 15px;
    border: 2px solid #8B58BC;
    width: 260px;
    height: fit-content;
    z-index: 1;
    margin-bottom: 25px;
}
.card2 {
    background-image: url('../images/hubbleimg4.jpg');
    background-size: cover;
    border-radius: 15px;
    border: 2px solid #8B58BC;
    width: 260px;
    height: fit-content;
    z-index: 1;
    margin-bottom: 25px;
}
.card3 {
    background-image: url('../images/hubbleimg3.jpg');
    background-size: cover;
    border-radius: 15px;
    border: 2px solid #8B58BC;
    width: 260px;
    height: fit-content;
    z-index: 1;
    margin-bottom: 50px;
}
.card-content {
    color: #FFFFFF;
    background-color: rgba(86, 22, 145, 0.712);
    z-index: 2;
    align-content: flex-end;
    margin-top: 90%;
    padding-bottom: 50px;
    border-radius: 15px;
    height: 120px;
}
.card-content h2 {
    padding-top: 15px;
}
.card-content p {
    padding: 20px 10px 5px 10px;
}
.card-content a {
    text-decoration: none;
    color: #FFFFFF;
    height: inherit;
}
.card-content:hover {
    background-color: rgba(0, 89, 92, 0.712);
}
#resources {
    padding-bottom: 50px;
}
#launch, #timeline, #live, #quiz, #resources, #vid-gallery {
    padding-top: 25px;
    padding-bottom: 25px;
}
/***************************
******** IMAGE PAGE ********
****************************/

/******** Banner ***********/
.images-banner {
    background: url('../images/hubbleimg7.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.banner2h1 {
    background-color: rgba(108, 24, 119, 0.616);
    text-align: center;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin: 0;
}
#bdimage {
    padding-top: 25px;
    padding-bottom: 25px;
}
#img-gallery {
    padding-bottom: 25px;
}

/******** Images - Gallery *******/


input[type=checkbox] {
    display: none;
}
.lbl-toggle {
    display: block;
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    color: #05D9E8;
    background-color: #070000;
    border: 2px solid #05D9E8;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 25px;
}
.lbl-toggle:hover {
    color: #070000;
    background-color: #05D9E8;
    transition: 0.3s ease-in;
}
.collapsible-content .content-inner {
    background: #070000;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
    margin-bottom: 25px;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 600vh;
}
.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}
.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.gallery-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.gallery-column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
    border: 1px solid #8B58BC;
}
.gallery-collapsible {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 800px) {
    .gallery-column {
      flex: 50%;
      max-width: 50%;
    }
  }

@media screen and (max-width: 600px) {
    .gallery-column {
      flex: 100%;
      max-width: 100%;
    }
  }
/***************************
******* VIDEOS PAGE ********
****************************/

/**** Videos - Banner ****/
.videos-banner {
    background: url(../images/hubbleimg22.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    height: auto;
}
.vid-gallery {
    display: flex;
    flex-direction: column;
}
.vid-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    margin-top: 25px;
}
.vid-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 8px;
}

.vid-content-top h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.vid-content-top h3 {
    margin: 10px 5px;
    max-width: fit-content;
}
.vid-content-top p {
    padding: 2px 5px 5px 2px;
    margin-bottom: 4px;
}
.yt-link-button {
    display: flex;
    justify-content: center;
    margin: 10px 0 25px 0;
}
.vid-content-top {
    padding-left: 5px;
    background-color: #005678;
}
iframe.yt-embed {
    width: 300px;
    height: 245px;
}
@media screen and (min-width: 600px) {
    iframe.yt-embed {
        width: 400px;
        height: 345px;
    }
  }
/***************************
******** LAUNCH PAGE *******
****************************/
.launch-banner {
    background: url('../images/background3.jpg');
    background-size: cover;
    background-position: center;
    height: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
#next-launch, #upcoming-launch, #comp-launch {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/***************************
******* CONTACT PAGE *******
****************************/

/***************************
******* LAUNCH PAGE ********
****************************/

/***************************
******* MEDIA CODING *******
****************************/
